<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackieloven.thebasics"
    android:versionCode="1"
    android:versionName="1.0" >
    
    

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET"/>
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jackieloven.thebasics.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.jackieloven.thebasics.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.jackieloven.thebasics.SECONDSCREENJAVA" />
                <!-- make sure this matches the new button method you just added in the main.java (SECONDSCREENJAVA is the new screen) -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.jackieloven.thebasics.SECONDSCREENJAVA" />
                <!-- make sure this matches the new button method you just added in the main.java (SECONDSCREENJAVA is the new screen) -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sweet"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Dialog"
            >
            
            <intent-filter>
                <action android:name="com.jackieloven.thebasics.SWEET" />
                <!-- make sure this matches the new button method you just added in the main.java (SECONDSCREENJAVA is the new screen) -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name=".Server"
            android:label="@string/app_name" 
            >
            
            <intent-filter>
                <action android:name="com.jackieloven.thebasics.SERVER" />
                <!-- make sure this matches the new button method you just added in the main.java (SECONDSCREENJAVA is the new screen) -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Patient"
            android:label="@string/app_name" 
            >
            
            <intent-filter>
                <action android:name="com.jackieloven.thebasics.PATIENT" />
                <!-- make sure this matches the new button method you just added in the main.java (SECONDSCREENJAVA is the new screen) -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PatientDialog"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Dialog"
            >
            
            <intent-filter>
                <action android:name="com.jackieloven.thebasics.PATIENT_DIALOG" />
                <!-- make sure this matches the new button method you just added in the main.java (SECONDSCREENJAVA is the new screen) -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Connect"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.jackieloven.thebasics.CONNECT" />
                <!-- make sure this matches the new button method you just added in the main.java (SECONDSCREENJAVA is the new screen) -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
       
        
    </application>

</manifest>